body,
html {
  height: 100%;
}

body {
  background-image: linear-gradient(to top, rgb(109, 65, 36) 0%, rgb(19, 21, 36) 100%);
  background-attachment: fixed;
  background-size: cover;
}

::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000000;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #424242;
  border-radius: 25px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #6b78f05d;
  border-radius: 25px;
}

a {
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: #AAA;
  font-weight: bold;
  text-decoration: none;
}

#components-container {
  margin-top: 25px;
}

#navbar {
  background-color: transparent;
}

#header-text {
  color: #FFF;
  font-size: 2em;
}

#card-style {
  width: 550px;
  background-color: transparent;
  color: #FFF;
}

#header-name {
  text-align: center;
}

#header-first-name {
  color: #FFFFFF;
  font-weight: bold;
  font-size: 5em;
}

#header-last-name {
  color:#F3904F;
  font-weight: bold;
  font-size: 5em;
}

#about-text {
  color: #FFFFFF;
  font-weight: bold;
  font-size: 2em;
}

#contact-links {
  color: #FFF;
  margin-top: -15px;
}

#email-text {
  color: #FFF;
  font-weight: bold;
}

#email-text:hover {
  color: #AAA;
  font-weight: bold;
  cursor: pointer;
}

#about-div {
  background-color: rgba(19, 21, 36, 0.404);
  text-align: left;
  color: #FFFFFF;
}

.resume-type-of-experience {
  width: 100%;
  display: block;
  font-weight: bold;
  font-size: 1.15em;
  background-color: rgb(109, 65, 36);
  color: rgb(255, 255, 255);
}

.resume-experience {
  font-weight: bold;
}

.resume-list {
  margin-top: -10px;
}

#header-col {
  text-align: center;
}

.header-button {
  margin-top: 25px;
  background-color: transparent;
  border-style: solid;
  border-color: #FFF;
  color: #FFF;
}

.header-button:hover {
  background-color: transparent;
  border-style: solid;
  border-color: #AAA;
  color: #AAA;
}

.header-button:focus {
  background-color: transparent;
  border-style: solid;
  border-color: #FFF;
  color: #FFF;
  outline: none;
}

#resume-div {
  padding-top: 15px;
}