body,
html {
  height: 100%;
}

body {
  background: linear-gradient(to top, #F3904F, #3B4371);
}

a {
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: #AAA;
  font-weight: bold;
  text-decoration: none;
}

#components-container {
  margin-top: 25px;
}

#navbar {
  background-color: transparent;
}

#header-text {
  color: #FFF;
  font-size: 2em;
}

#card-style {
  width: 550px;
  background-color: transparent;
  color: #FFF;
}

#header-name {
  text-align: center;
}

#header-first-name {
  color: #FFFFFF;
  font-weight: bold;
  font-size: 5em;
}

#header-last-name {
  color:#F3904F;
  font-weight: bold;
  font-size: 5em;
}

#about-text {
  color: #FFFFFF;
  font-weight: bold;
  font-size: 5em;
}

#contact-links {
  color: #FFF;
  text-align: center;
}

#email-text {
  color: #FFF;
  font-weight: bold;
}

#about-div {
  background-color: transparent;
  color: #FFFFFF;
  height: 360px;
}